.inner-section {
    .full-h-wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100dvh;
        padding-top: 22dvh;
        padding-top: 12dvh;
        // &.sm-p {
        //     padding-top: 15dvh;
        // }
        @media (max-width: 992px) {
            padding-top: rem(100);
        }
    }
    &:not(.inner-hero) .full-h-wrapper {
        padding-bottom: 8dvh;
    }
    .content-wrapper {
        padding: 5dvh 0;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .media-content {
        text-align: center;
        height: 44dvh;
        height: 55dvh;
        display: flex;
        flex-direction: column;
        img {
            margin: auto;
            max-height: 100%;
        }
        > div {
            height: 100%;
        }
        @media (max-height: 580px) {
            height: 70vh;
        }
        [class*="col"] {
            display: flex;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            @media (max-width: 576px) {
                flex: auto;
            }
        }
        // .img-2 .col {
        //     @media (max-width: 576px) {
        //         width: 100%;
        //         height: 50%;
        //     }
        // }
        // .img-6 .col {
        //     @media (max-width: 576px) {
        //         width: 50%;
        //         height: calc(100% / 3);
        //     }
        // }
    }
    .owl-carousel,
    .owl-stage,
    .owl-stage-outer {
        height: 40svh;
    }
    .item {
        height: 40svh;
        padding: 0 rem(25);
        @media (max-width: 767px) {
            display: flex;
            img {
                margin: auto;
            }
        }
        img {
            height: 40svh;
            width: auto;
            @media (max-width: 992px) {
                height: rem(250);
            }
            @media (max-width: 480px) {
                height: rem(200);
            }
        }
    }
    .section-foot {
        display: flex;
        align-items: end;
        justify-content: space-between;
        @media (max-width: 767px) {
            flex-wrap: wrap;
            align-items: center;
        }
        > div {
            @media (max-width: 767px) {
                margin: rem(10) 0;
                &.text {
                    width: 100%;
                }
            }
            @media (min-width: 768px) {
                width: rem(365);
                width: calc(100% / 3);
            }
            &:nth-child(2) {
                text-align: center;
                @media (max-width: 768px) {
                    // display: none;
                }
            }
            &:last-child {
                text-align: end;
                @media (max-width: 768px) {
                    display: block;
                }
            }
            img {
                height: rem(70);
            }
        }
        h2 {
            font-size: rem(25);
            margin: 0 0 rem(14);
            font-family: $fontHeavy;
        }
        p {
            font-size: rem(14);
            line-height: rem(20);
            font-family: $fontBook;
        }
        a.download {
            font-size: rem(25);
            display: inline-flex;
            align-items: center;
            color: $black;
            font-family: $fontMedium;
            &:after {
                width: rem(18.5);
                height: rem(22);
                content: "";
                background: url(../../images/icons/arrow-down-orange.svg) no-repeat center / 100%;
                margin-inline-start: rem(9);
            }
            &:hover {
                color: $secondary;
            }
        }
    }

    .icons {
        .icons-grid {
            .icon {
                margin-bottom: rem(30);
                img {
                    height: rem(50);
                    @media (max-width: 767px) {
                        height: rem(45);
                    }
                }
            }
        }
    }
}
.inner-container {
    @media (min-width: 1200px) {
        width: 84%;
        margin: auto;
    }
}
.gray-bg {
    background-color: #e8e8e8;
}
.inner-hero {
    .text-wrapper {
        display: flex;
        > div {
            width: 50%;
        }
        h1 {
            font-family: $fontHeavy;
            margin: 0;
        }
        p {
            font-family: $fontBook;
        }
    }
    .image-wrapper {
        @extend .base-fit;
        margin-top: auto;
        height: 50vh;
    }
}
