$fontBook: 400;
$fontMedium: 500;
$fontHeavy: 600;
$fontBlack: 700;

$base-size: 18;
@function rem($target, $context: $base-size) {
    @return (calc($target / $base-size)) * 1rem;
}

// colors
$white: #FFFFFF;
$black: #000000;

$primary: #6C2FEB;
$blue: #341BF7;
$orange: #FF3C00;
$gray: #888888;


$imgPath: "../../images";


/////////////////////////////////////////////
$default-behaviour: false; //  true or false

//== font-families
@font-face {
    font-family: 'Avenir';
    src: url(../../fonts/Avenir.ttc);
}
@font-face {
    font-family: 'blackHand';
    src: url(../../fonts/JOEBOBgraphics-blackHand.otf);
}

$fontAvenir: 'Avenir', sans-serif;
$fontBlackHand: 'blackHand', sans-serif;
//
// font family
$font-family-default: $fontAvenir;
$font-numbers-default: $fontAvenir;
$fonts-map-default: (
);
// font family
$font-family-reverse: $fontAvenir;
$font-numbers-reverse: $fontAvenir;
$fonts-map-reverse: (
);