<div class="container">
	<div class="header-wrapper">
		<div class="logo">
			<img class="head-logo" src="assets/images/header-logo.svg" alt="">
			<img class="menu-logo" src="assets/images/logo.svg" alt="">
		</div>

		<div class="menu">
			<ul class="nav-list">
				<li>
					<a href="../logo.html">Logo</a>
					<ul>
						<li><a href="#Anatomy">01.Anatomy</a></li>
						<li><a href="#SizesClearSpaces">02.Sizes and Clear Spaces</a></li>
						<li><a href="#LogoUsage">03.Logo Usage</a></li>
						<li><a href="#Placement">04.Placement</a></li>
						<li><a href="#CoBranding">05.Co-Branding</a></li>
					</ul>
				</li>
				<li>
					<a href="../Logomark.html">Logomark</a>
					<ul>
						<li><a href="#Logomark">01.Logomark</a></li>
						<li><a href="#ApplicationIcon">02.Application Icon</a></li>
						<li><a href="#MarkSizesClearSpaces">03.Sizes and Clear Spaces</a></li>
						<li><a href="#LogoMarkUsage">04.Logo Usage</a></li>
						<li><a href="#MarkPlacement">05.Placement</a></li>
						<li><a href="#CoSocialIcons">06.Social Icons</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Brand Assets</a>
					<ul>
						<li><a href="#Typography">01.Typography</a></li>
						<li><a href="#Colorways">02.Colorways</a></li>
						<li><a href="#Photography">03.Photography</a></li>
					</ul>
				</li>
				<li>
					<a href="../VisualLanguage.html">Visual Language</a>
					<ul>
						<li><a href="#Spokes">01.Spokes</a></li>
						<li><a href="#SpokesUsage">02.Spokes Usage</a></li>
						<li><a href="#Illustrations">03.Illustrations</a></li>
						<li><a href="#Supplementary">04.Supplementary Illustrations</a></li>
						<li><a href="#Iconography">05.Iconography</a></li>
					</ul>
				</li>
				<li>
					<a href="../Applications.html">Applications</a>
					<ul>
						<li><a href="#Stationery">01.Stationery</a></li>
						<li><a href="#Brochure">02.Brochure</a></li>
						<li><a href="#Layouts">03.Layouts</a></li>
						<li><a href="#BrandCollaterals">04.Brand Collaterals</a></li>
					</ul>
				</li>
				<li>
					<a href="../Digital.html">Digital</a>
					<ul>
						<li><a href="#EmailSignature">01.Email Signature</a></li>
						<li><a href="#EmailShot">02.Email Shot</a></li>
						<li><a href="#PowerPointTemplate">03.PowerPoint Template</a></li>
						<li><a href="#SocialMedia">04.Social Media</a></li>
						<li><a href="#Website">05.Website</a></li>
						<li><a href="#Application">06.Application</a></li>
					</ul>
				</li>
			</ul>
			<button class="nav-btn">
				<i></i><i></i> <span>Close</span>
			</button>
		</div>
	</div>
</div>

<menu>
	<div class="container content">
		<div>
			<div class="menu-item">
				<div class="number">01</div>
				<div>
					<a href="../logo.html">Logo</a>
					<ul>
						<li><a href="#Anatomy">01.Anatomy</a></li>
						<li><a href="#SizesClearSpaces">02.Sizes and Clear Spaces</a></li>
						<li><a href="#LogoUsage">03.Logo Usage</a></li>
						<li><a href="#Placement">04.Placement</a></li>
						<li><a href="#CoBranding">05.Co-Branding</a></li>
					</ul>
				</div>
			</div>
			<div class="menu-item">
				<div class="number">02</div>
				<div>
					<a href="../index.html">Logomark</a>
					<ul>
						<li><a href="#Logomark">01.Logomark</a></li>
						<li><a href="#ApplicationIcon">02.Application Icon</a></li>
						<li><a href="#MarkSizesClearSpaces">03.Sizes and Clear Spaces</a></li>
						<li><a href="#LogoMarkUsage">04.Logo Usage</a></li>
						<li><a href="#MarkPlacement">05.Placement</a></li>
						<li><a href="#CoSocialIcons">06.Social Icons</a></li>
					</ul>
				</div>
			</div>
			<div class="menu-item">
				<div class="number">03</div>
				<div>
					<a href="#">Brand Assets</a>
					<ul>
						<li><a href="#Typography">01.Typography</a></li>
						<li><a href="#Colorways">02.Colorways</a></li>
						<li><a href="#Photography">03.Photography</a></li>
					</ul>
				</div>
			</div>
			<div class="menu-item">
				<div class="number">04</div>
				<div>
					<a href="../VisualLanguage.html">Visual Language</a>
					<ul>
						<li><a href="#Spokes">01.Spokes</a></li>
						<li><a href="#SpokesUsage">02.Spokes Usage</a></li>
						<li><a href="#Illustrations">03.Illustrations</a></li>
						<li><a href="#Supplementary">04.Supplementary Illustrations</a></li>
						<li><a href="#Iconography">05.Iconography</a></li>
					</ul>
				</div>
			</div>
			<div class="menu-item">
				<div class="number">05</div>
				<div>
					<a href="../Applications.html">Applications</a>
					<ul>
						<li><a href="#Stationery">01.Stationery</a></li>
						<li><a href="#Brochure">02.Brochure</a></li>
						<li><a href="#Layouts">03.Layouts</a></li>
						<li><a href="#BrandCollaterals">04.Brand Collaterals</a></li>
					</ul>
				</div>
			</div>
			<div class="menu-item">
				<div class="number">06</div>
				<div>
					<a href="../Digital.html">Digital</a>
					<ul>
						<li><a href="#EmailSignature">01.Email Signature</a></li>
						<li><a href="#EmailShot">02.Email Shot</a></li>
						<li><a href="#PowerPointTemplate">03.PowerPoint Template</a></li>
						<li><a href="#SocialMedia">04.Social Media</a></li>
						<li><a href="#Website">05.Website</a></li>
						<li><a href="#Application">06.Website</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</menu>